# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Backend
APP_NAME=FoOdyssey API
APP_ENV=development
API_V1_PREFIX=
DATABASE_URL=postgresql+psycopg://foodyssey:foodyssey@postgres:5432/foodyssey
CORS_ORIGINS=["http://localhost:3000"]

# PostgreSQL
POSTGRES_DB=foodyssey
POSTGRES_USER=foodyssey
POSTGRES_PASSWORD=foodyssey
